.footer-container{
    display: flex;
    width: 100%;
    background: var(--clr-solid-bg);
    color: var(--clr-white);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 80vw;
    gap: 2rem;
    margin: 1rem auto;
}

.footer-info{
    display: flex;
    gap: min(1rem, 2rem);
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    gap: 1rem;
    width: 30vw;
}

.nav-footer-list{
    padding: 0;
    list-style-type: none;
}

.nav-footer-link{
    color: var(--clr-white);
    text-decoration: none;
}

.footer-img-container{
    display: flex;
    align-items: center;
}

.footer-img{
    width: 4rem;
}