.hero-section-container{
    display: grid;
    background: var(--clr-solid-bg);
    height: min(26vh, 28vh, 30vh);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;  
    margin: 0 auto 1rem;
}

.hero-btn-container{
    display:grid;
    grid-template-columns: 10rem 10rem;
    column-gap: min(55vw, 61vw, 71vw);
    margin: 0 auto;
}

.btn-container{
    display: flex;
    width: 10rem;
    height: 2rem;
    gap: 1rem;
}

.hero-characteristics-left{
    position: absolute;
    width: 15rem;
    height: 10rem;
    left: 5rem;
    top: 48rem;
    color: var(--clr-white);
}

.hero-characteristics-rigth{
    position: absolute;
    width: 15rem;
    height: 10rem;
    right: 5rem;
    top: 48rem;
    color: var(--clr-white);
}

@media (max-width: 768.98px){

    .hero-btn-container{
        column-gap: 5vw;
    }

    .hero-characteristics-left{
        display: none;
    }

    .hero-characteristics-rigth{
        display: none;
    }
}