.login-form{
  display: none;
  position: fixed;
  top: 15vh;
  left: 50%;
  z-index: 5;
  transform: translate(-50%,0);
  width: 20rem;
  padding: 2rem;
  border-radius: 2rem;
  font-family: var(--ff-var2);
  font-size: var(--fs-nm);
  font-weight: var(--fw-rg);
  color: var(--clr-white);
  background: var(--clr-meals-bg-var);
}

.title-exit-container{
  display: grid;
  position: relative;
  align-items: center;
  grid-template-columns: 4rem 3rem;
  gap: 50%;
}

.form-items{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: .5rem 0;
  align-items: center;
}

.hero-section-container{
    display: grid;
    background: var(--clr-solid-bg);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;  
    margin: 0 auto;
}

.hero-btn-container{
    display:grid;
    font-size: var(--fs-esm);
    font-weight: var(--fw-bd);
    grid-template-columns: 10rem 10rem;
    column-gap: min(55vw, 61vw, 71vw);
    margin: 0 auto;
}

.btn-container{
    display: flex;
    width: 10rem;
    height: 2rem;
    gap: 1rem;
}

.hero-characteristics-left-jp{
    position: absolute;
    display: flex;
    text-align: start;
    width: 15rem;
    height: 10rem;
    left: 5rem;
    top: 50rem;
    color: var(--clr-white);
}

.hero-characteristics-left{
  position: absolute;
  text-align: center;
  width: 15rem;
  height: 10rem;
  left: 5rem;
  top: 45rem;
  color: var(--clr-white);
}

.hero-characteristics-rigth-jp{
    position: absolute;
    display: flex;
    text-align: start;
    width: 15rem;
    height: 10rem;
    right: 5rem;
    top: 49rem;
    color: var(--clr-white);
}
.hero-characteristics-rigth{
    position: absolute;
    text-align: center;
    width: 15rem;
    height: 10rem;
    right: 5rem;
    top: 44rem;
    color: var(--clr-white);
}

.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
}

.carousel-container {
    margin-top: 6.25rem;
  }
  
  .card-carousel {
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  .image-container {
    width: 8em;
    height: 8em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    -webkit-box-shadow: inset var(--clr-carousel);
  -moz-box-shadow: inset var(--clr-carousel);
  box-shadow: inset var(--clr-carousel);
    
  }
  
  .image-container::after {
    content: "";
    display: block;
    width: 120%;
    height: 120%;
    border: solid 3px rgba(0,0,0,.1);
    border-radius: 100%;
    position: absolute;
    top: calc(-10% - 3px);
    left: calc(-10% - 3px);
  }

.meals-container{
    display: grid;
    margin: 6rem 0;
    color: var(--clr-solid-bg);
    width: 100%;
}

.meal{
    display: flex;
    background: var(--clr-meals-bg);
    align-items: center;
    margin: auto 0;
    padding: 1rem 15vw;
    /*height: 35vh;*/
    gap: 1.5rem;
}

.meal-mobile{
  display: none;
}

.meal-var{
    background: var(--clr-meals-bg-var);
    color: var(--clr-white);
}

.meal-text-container{
    display: grid;
    font-family: var(--ff-var1);
    font-weight: var(--fw-md);
    grid-template-rows: 2rem auto;
    width: 50vw;
    gap: 1rem;
}

.subscribe-form-apps-container{
    display: grid;
    background: url(../../imgs/subscribe-form-img.png);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    font-family: var(--ff-var1);
    font-size: clamp(var(--fs-sm), 1.10rem, var(--fs-nm));
    font-weight: var(--fw-md);
    color: var(--clr-white);
    margin-bottom: 6rem;
    column-gap: 5rem;
    width: 100%;
    height: 40rem;
}

.subscribe-text-container-jp{
  display: flex;
  text-align: start;
  height: fit-content;
  margin-top: min(5vw, 8rem, 10rem);
  margin-left: min(5vw, 8rem, 10rem);
  margin-right: min(5vw, 8rem, 10rem);
  align-items: flex-start;
}

.subscribe-text-container{
  display: grid;
  text-align: justify;
  height: fit-content;
  margin-top: min(5vw, 8rem, 10rem);
  margin-left: min(5vw, 8rem, 10rem);
  margin-right: min(5vw, 8rem, 10rem);
}


.subscribe-apps-container{
  display: grid;
  gap: 1rem;
  width: 20rem;
  height: fit-content;
  justify-content: center;
  margin-top: min(5vw, 8rem, 10rem);
  margin-left: 3rem;
}

.meal-names-container{
  text-align: center;
  font-family: var(--ff-var2)
}

.meal-info-container{
  display: grid;
  background: var(--clr-solid-bg);
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: 100%;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.info-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(212px, 1fr));
  width: 70vw;
}

.characteristics-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  margin: auto;
  font-weight: var(--fw-rg);
  font-size: clamp(var(--fs-md), 30px, var(--fs-lg));
  color: var(--clr-solid-bg);
  width: 80vw;
}

.order-size-container{
  display: grid;
  align-items: flex-start;
}

.rigth-container{
  display: grid;
  gap: 2rem;
}

.order-buy-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(220px, 1fr));
  width: 80vw;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.order-container{
  display: grid;
  margin: 4rem 5rem;
  padding: 1rem 2rem;
  gap: 1rem;
  border: 1rem solid var(--clr-solid-bg);
  border-radius: 30px;
  background-color: hsla(0, 100%, 100%, .5);
}

@media screen and (max-width: 833.98px) {
  .card-carousel {
    margin-left:50%;
    transform: translate(-50%, 0);
    min-width: var(--carousel-extra-min-width);
    
  }
}

@media (max-width: 833.98px){

    .meal{
        display: none;
    }

    .meal-mobile{
      display: grid;
      background: var(--clr-meals-bg);
      justify-content: center;
      gap: .5rem;
      margin: auto 0;
      padding: 1rem 0;
    }

    .meal-var-mobile{
      background: var(--clr-meals-bg-var);
    }

    .hero-btn-container{
        column-gap: 5vw;
    }

    .hero-characteristics-rigth{
        display: none;
    }

    .hero-characteristics-rigth-jp{
      display: none;
  }
}