.hero-section-container{
    display: grid;
    background: var(--clr-solid-bg);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;  
    margin: 0 auto;
}

.hero-btn-container{
    display:grid;
    grid-template-columns: 10rem 10rem;
    column-gap: min(55vw, 61vw, 71vw);
    margin: 0 auto;
}

.btn-container{
    display: flex;
    width: 10rem;
    height: 2rem;
    gap: 1rem;
}

.hero-characteristics-left{
    position: absolute;
    width: 15rem;
    height: 10rem;
    left: 5rem;
    top: 48rem;
    color: var(--clr-white);
}

.hero-characteristics-rigth{
    position: absolute;
    width: 15rem;
    height: 10rem;
    right: 5rem;
    top: 48rem;
    color: var(--clr-white);
}

.carousel-container{
    margin: 6.25rem 0 28rem;
    display: grid;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    left: 50%; 
    transform: translate(-50%, 8rem);
    position: absolute;
    width: 45%;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
}

.card-img-right{
    align-items:flex-end;
    width: 35%;
    height: auto;
    border-radius: 30px;
    margin-left:-15%;
    overflow: hidden;
}

.card-img-left{
    align-items:flex-start;
    width: 35%;
    height: auto;
    border-radius: 30px;
    margin-right:-15%;
}




@media (max-width: 768.98px){

    .hero-btn-container{
        column-gap: 5vw;
    }

    .hero-characteristics-left{
        display: none;
    }

    .hero-characteristics-rigth{
        display: none;
    }
}