
.hero-container{
    display: block;
    background: url(../../imgs/banner.png);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: min(100vh, 120vh, 160vh);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.hero-rombo{
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, 0);
}