.nav-list{
    display: flex;
    gap: 3rem;
    list-style: none;
    text-align: center;
    align-items: center;
}

.nav-list-link{
    color: var(--clr-white);
    text-decoration: none;
}

.top-nav{
    margin: auto;
}

@media (max-width: 768.98px){

    .top-nav{
        display: none;
    }

}