.btn{
    color: var(--clr-white);
    background: var(--clr-red);
    text-decoration: none;
}

.hero-btn{
    padding: 0 .8rem;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-adjust{
    padding: 0 1.4rem
}

.card-img{
    left: 50%; 
    transform: translate(-50%, 8rem);
    position: absolute;
    width: 45%;
    height: auto;
    border-radius: 30px;
}

.card-img-right{
    align-items:flex-end;
    width: 35%;
    height: auto;
    border-radius: 30px;
    margin-left:-15%;
    overflow: hidden;
}

.card-img-left{
    align-items:flex-start;
    width: 35%;
    height: auto;
    border-radius: 30px;
    margin-right:-15%;
}

.meal-img{
    display: block;
    width: min(16vw, 23vw);
}

.meal-btn{
    margin: auto;
    padding: .6rem .8rem;
    font-weight: var(--fw-bd);
}

