.btn{
    color: var(--clr-white);
    background: var(--clr-red);
    text-decoration: none;
}

.hero-btn{
    padding: 0 .8rem;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-adjust{
    padding: 0 1.4rem
}

.card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .card-carousel .card {
    background:var(--clr-meals-bg-solid);
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,0,0,.5);
    transition: inherit;
    -webkit-box-shadow: var(--clr-carousel);
    -moz-box-shadow: var(--clr-carousel);
    box-shadow: var(--clr-carousel);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card.highlight {
    filter: brightness(1)
  }
  
  
  .card:nth-of-type(1) .image-container {
      background-image: url("../../imgs/iconoComidas1.svg");
  }
   
  .card:nth-of-type(2) .image-container {
    background-image: url("../../imgs/iconoEntradas1.svg")
  }
  
  .card:nth-of-type(3) .image-container {
    background-image: url("../../imgs/iconoBebidas1.svg")
  }
  .card:nth-of-type(4) .image-container {
    background-image: url("../../imgs/iconoPostres1.svg")
  }
  .card:nth-of-type(5) .image-container {
    background-image: url("../../imgs/iconoComidasDestacadas1.svg")
  }

.meal-img{
    display: block;
    width: min(16vw, 23vw);
}

.meal-btn{
    margin: auto;
    padding: .6rem .8rem;
    font-weight: var(--fw-bd);
}

.btn-up{
    display: block;
    position: absolute;
    right: 4rem;
    background: url(../../imgs/go-up.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    width: 6rem;
    height: 6rem;
}

@media (max-width: 833.98px){
    .meal-img{
        width: 13rem;
    }

    .btn-up{
        display: none;
    }
}

