.btn{
    color: var(--clr-white);
    background: var(--clr-red);
    text-decoration: none;
}

.hero-btn{
    padding: 0 .8rem;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-adjust{
    padding: 0 1.4rem
}

/*.card-center{
    left: 50%; 
    transform: translate(-50%, 8rem);
    position: absolute;
    width: 45%;
    height: auto;
    border-radius: 30px;
}

.card-right{
    align-items:flex-end;
    width: 35%;
    height: auto;
    border-radius: 30px;
    margin-left:-15%;
    overflow: hidden;
}

.card-left{
    align-items:flex-start;
    width: 35%;
    height: auto;
    border-radius: 30px;
    margin-right:-15%;
}*/

.meal-img{
    display: block;
    width: min(16vw, 23vw);
}

.meal-btn{
    margin: auto;
    padding: .6rem .8rem;
    font-weight: var(--fw-bd);
}

.btn-up{
    display: block;
    position: absolute;
    right: 4rem;
    background: url(../../imgs/go-up.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    width: 6rem;
    height: 6rem;
}

@media (max-width: 833.98px){
    .meal-img{
        width: 13rem;
    }
}

