
.nav-size-list{
    display: flex;
    gap: 2rem;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.size-comidas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    width: min(80vw, 50rem, 60rem);
    margin: auto;
    font-family: var(--ff-var2);
    font-size: var(--fs-sm);
    gap: 8vw ;
}

.size-porcion{
    background-color: transparent;
    color: var(--clr-solid-bg);
    padding: .5rem 1rem;
    border: none;
}

.size-porcion:active{
    border-radius: 2rem;
    border-color: var(--clr-red);
    color: var(--clr-red);
    border: .2rem solid;
}

.categories-container{
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.btn-category{
    display: flex;
    width: 14rem;
    height: 8rem;
    margin: 0 auto;
    border: none;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
}

.categorie-img{
    display: block;
    width: 6rem;
}