
.nav-size-list{
    display: flex;
    gap: 2rem;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.size-comidas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    width: min(80vw, 50rem, 60rem);
    margin: auto;
    font-family: var(--ff-var2);
    font-size: var(--fs-sm);
    gap: 8vw ;
}

.size-porcion{
    background-color: transparent;
    color: var(--clr-solid-bg);
    padding: .5rem 1rem;
    border: none;
}

.size-porcion:active{
    border-radius: 2rem;
    border-color: var(--clr-red);
    color: var(--clr-red);
    border: .2rem solid;
}

.categories-container{
    display: grid;
    width: 80vw;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.btn-category{
    display: flex;
    width: 14rem;
    height: 8rem;
    margin: 0 auto;
    border: none;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
}

.categorie-img{
    display: block;
    width: 6rem;
}

.category-meals{
    display: grid;
    position: relative;
    background: var(--clr-meals-bg-solid);
    margin: auto;
    border-radius: 1rem;
    padding: 0rem 0 1rem;
    background-repeat: no-repeat;
    font-family: var(--ff-var1);
    font-weight: var(--fw-md);
    text-align: center;
    width: 17rem;
}

.price-category-container{
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
    gap: 8rem;
    width: 16.9rem;
    font-size: var(--fs-sm);
    background: var(--clr-red);
    color: var(--clr-white);
}

.category-food-section-container{
    display: grid;
    width: 95vw;
    margin: 3rem auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.meal-meal-title-container{
    display: grid;
    background: url(../../imgs/ComidaBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-weight: var(--fw-rg);
    font-size: clamp(var(--fs-md), 30px, var(--fs-lg));
    color: var(--clr-white);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    width: 100%;
}

.meal-card-img{
    display: block;
    width: 16.9rem;
}