:root{

    /*Fonts*/

    --ff-var1: 'Noto Sans JP', sans-serif;
    --ff-var2: 'Shippori Mincho', serif;

    /*FontSize*/

    --fs-esm: 0.75rem; /*12px*/
    --fs-sm: 0.875rem; /*14px*/
    --fs-nm: 1.25rem; /*20px*/
    --fs-md: 1.5rem; /*24px*/
    --fs-lg: 3rem; /*48px*/

    /*FontWeight*/

    --fw-rg: 400;
    --fw-md: 500;
    --fw-sbd: 600;
    --fw-bd: 700;
    
    /*Colors*/

    --clr-solid-bg: hsla(184, 100%, 15%, 1);
    --clr-white: hsla(0, 0%, 100%, 1);
    --clr-red: hsla(0, 74%, 37%, 1);
    --clr-light-gray: hsla(0, 0, 57%, 1);
    --clr-dark-gray: hsla(0, 0, 25, 1);
    --clr-meals-bg: hsla(173, 24%, 80%, 75%);
    --clr-meals-bg-solid: hsla(173, 24%, 80%, 1);
    --clr-meals-bg-var: hsla(184, 100%, 15%, 75%);
    --clr-carousel:0px 5px 5px 0px rgba(0,0,0,0.3);

    /*Carousel vars*/

    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    --carousel-extra-min-width: 360px;

}