:root{

    /*Fonts*/

    --ff-var1: 'Noto Sans JP', sans-serif;
    --ff-var2: 'Shippori Mincho', serif;

    /*FontSize*/

    --fs-esm: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-nm: 1rem;
    --fs-md: 1.125rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-xxl: 2rem;

    /*FontWeight*/

    --fw-rg: 400;
    --fw-md: 500;
    --fw-sbd: 600;
    --fw-bd: 700;
    --fw-ebd: 800;
    
    /*Colors*/

    --clr-solid-bg: hsla(184, 100%, 15%, 1);
    --clr-white: hsla(0, 0%, 100%, 1);
    --clr-red: hsla(0, 74%, 37%, 1);
    --clr-light-gray: hsla(0, 0, 57%, 1);
    --clr-dark-gray: hsla(0, 0, 25, 1);
    --clr-meals-bg: hsla(173, 24%, 80%, 75%);
    --clr-meals-bg-var: hsla(184, 100%, 15%, 75%);
}